# Python compiler files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Local uploaded images in Flask app
app/static/uploaded_images/*
!app/static/uploaded_images/.gitkeep
